<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mohamed Fahmi CHAAR</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
  <link rel="preload" as="style"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
    media="print" onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
  </noscript>
  <link href="css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
  <link href="css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
  <link href="css/aos.css?ver=1.2.0" rel="stylesheet">
  <link href="css/main.css?ver=1.2.0" rel="stylesheet">
  <link href="css/portfolio.css" rel="stylesheet">
  <noscript>
    <style type="text/css">
      [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
      }
    </style>
  </noscript>
</head>

<body id="top">
  <div v-cloak>
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="language-container py-2 clearfix d-flex align-items-center justify-content-between">
          <h1 class="mb-0 d-flex align-items-center language-select">
            <!-- <div>Mohamed Fahmi CHAAR - CV</div> -->
            <div>{{ $t('language') }}</div>
            <select title="languages" class="text-capitalize mx-1 form-select form-select-sm w-auto btn-outline-danger" v-model="$i18n.locale">
              <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">
                {{ lang }}
              </option>
            </select>
          </h1>
          <div class="site-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a target="_blank" class="nav-link" href="https://twitter.com/fahmichaar" title="Twitter"><i
                      class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                </li>
                <li class="nav-item"><a target="_blank" class="nav-link" href="https://github.com/fahmichaar" title="Github"><i
                      class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">

    </div>
    <footer class="pt-4 pb-4 text-muted text-center d-print-none">
      <div class="container">
        <div class="my-3">
          <div class="h4">Mohamed Fahmi CHAAR</div>
          <div class="footer-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/fahmichaar" title="Twitter"><i
                      class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/FahmiChaar" title="Github"><i
                      class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="text-small">
          <!-- <div class="mb-1">Moahamed Fahmi Chaar &copy; {{ $t('contact.copyright') }}</div> -->
          <!-- <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div> -->
        </div>
      </div>
    </footer>
  </div>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/vue-i18n@9"></script>
  <script src="scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
  <script src="scripts/aos.js?ver=1.2.0"></script>
  <script src="scripts/contact.js"></script>
  <script src="scripts/main.js?ver=1.2.0"></script>
</body>


</html>